[submodule "_layouts"]
	path = _layouts
	url = https://github.com/natronics/jekyll-layouts.git
[submodule "_sass/vendor/lato-font"]
	path = _sass/vendor/lato-font
	url = https://github.com/FontFaceKit/lato.git
