.barchart {
    list-style: none;
    margin-left: 1.0em;
    font-size: 12px;
    margin-bottom: 35px;
}

.barchart li {
    margin-bottom: 3px;
    line-height: 12px;
}

.barchart .title {
    color: #666;
    display: inline-block;
    width: 4em;
}

.barchart .bar {
    display: inline-block;
    text-align: right;
    background: #c02942;
}

.barchart .number {
    color: #fff;
    padding-right: 5px;
}

.barchart .number.outside {
    padding-left: 5px;
    color: #000;
}

.barchart .total {
    margin-top: 10px;
}

