---
---

// Bulma
@import vendor/bulma/sass/utilities/initial-variables

$primary: #941e56
$family-sans-serif: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif

@import vendor/bulma/bulma

// Lato Font
$FontPath: "/assets/fonts/lato/fonts"
$FontName: "Lato"
$FontVersion: "1.0.0"

@import fontdef
@import "/assets/syntax.css"


// Regular
@font-face
  font-family: "Lato"
  +fontdef($FontPath, $FontName, $FontVersion, "Regular")
  font-weight: 400
  font-style: normal

@font-face
  font-family: "Lato"
  +fontdef($FontPath, $FontName, $FontVersion, "Bold")
  font-weight: 700
  font-style: normal

@font-face
  font-family: "Lato"
  +fontdef($FontPath, $FontName, $FontVersion, "Italic")
  font-weight: 400
  font-style: italic

// Light
@font-face
  font-family: "Lato"
  +fontdef($FontPath, $FontName, $FontVersion, "Light")
  font-weight: 300
  font-style: normal

section
  @extend .section

header
  @extend .container

  h1
    @extend .title

  h2
    @extend .subtitle
    font-style: italic

footer
  @extend .section
  @extend .footer

  div
    @extend .container

article
  @extend .container
  @extend .content

  h1
    font-weight: 700

  img
    margin-top: 2.0em
    margin-bottom: 2.0em

  img.wrap
    margin: 0

#main
  @extend .content

  h1, h2, h3, h4
    font-weight: 700

  table
    @extend .table

  button
    @extend .button
    @extend .is-primary
    @extend .is-medium

pre
  code
    text-align: left

.pubdate
  display: block
  color: #bbb
  margin-bottom: 1.9em

// Helper for treating inline SVG as responsive image
.svgimg
  width: 100%

  svg
    width: 100%
