---
---

// Bulma
@import vendor/bulma/bulma/utilities/utilities
@import vendor/bulma/bulma/config/variables

$primary: #941e56
$family-sans-serif: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif


@import vendor/bulma/bulma/config/generated-variables
@import vendor/bulma/bulma/base/base
@import vendor/bulma/bulma/elements/elements
@import vendor/bulma/bulma/components/components
@import vendor/bulma/bulma/layout/layout


// Lato Font
$FontPath: "/assets/fonts/lato/fonts"
$FontName: "Lato"
$FontVersion: "1.0.0"

@import fontdef

// Regular
@font-face
  font-family: "Lato"
  +fontdef($FontPath, $FontName, $FontVersion, "Regular")
  font-weight: 400
  font-style: normal

@font-face
  font-family: "Lato"
  +fontdef($FontPath, $FontName, $FontVersion, "Bold")
  font-weight: 700
  font-style: normal

@font-face
  font-family: "Lato"
  +fontdef($FontPath, $FontName, $FontVersion, "Italic")
  font-weight: 400
  font-style: italic

// Light
@font-face
  font-family: "Lato"
  +fontdef($FontPath, $FontName, $FontVersion, "Light")
  font-weight: 300
  font-style: normal


section
  @extend .section

header
  @extend .container

  h1
    @extend .title

  h2
    @extend .subtitle
    font-style: italic

footer
  @extend .container
  @extend .columns

  p
    @extend .column

article
  @extend .container
  @extend .content

#main
  @extend .content

  h1, h2, h3, h4
    font-weight: 700

  table
    @extend .table
